* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 16px;
}

.list_item {
    width: 100vw;
    flex-shrink: 0;
}

.carousel_list {
    display: flex;
    overflow: hidden;
    margin-bottom: 15px;
    /* grid-area: slides; */
}

img {
    object-fit: cover;
    width: 100%;
    height: 500px;

}

.carousel {
    overflow: hidden;
    padding: 15px;
    text-align: center;
    /* display: grid;
    grid-template-areas: "prev slides next";
    grid-template-columns: auto 1fr auto; */
}

button {
    background-color: paleturquoise;
    color: #000;
    border: none;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.fade_slide {
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.fade_slide.show {
    animation-name: animationIn;
    animation-timing-function: ease-in;
}

.fade_slide.off {
    animation-name: animationOut;
    animation-timing-function: ease-out;
}


/* .prev {
    grid-area: prev;
}

.next {
    grid-area: next;
} */

@keyframes animationIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes animationOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}